@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", "sans-serif";
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  color: white;
}
header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 3rem;
  color: white;
  font-weight: 800;
  cursor: pointer;
}
.logo:hover {
  transform: scale(1.1);
}
nav a {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  border-bottom: 3px solid transparent;
}
nav a:hover,
nav a:active {
  color: #B692C2;
}
@media (max-width: 995px) {
  nav {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 40%;
    border-left: 3px solid #B692C2;
    border-bottom: 3px solid #B692C2;
    border-bottom-left-radius: 2rem;
    padding: 1rem solid;
    background-color: #161616;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
  nav:active {
    display: block;
  }
  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  nav a:hover,
  nav:active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #B692C2;
  }
}

section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: black;
}
.home .home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}
span {
  color: #B692C2;
}
.home-content h3 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.home-content p {
  font-size: 2rem;
}
.home-img {
  background-image: url(meme.jpg);
  background-size: cover;
  height: 380px;
  width: 1200px;
  box-shadow: 0 0 25px solid #B692C2;
  transition: 0.2s linear;
  border-radius: 50%;
}
.home-img img:hover {
  font-size: 1.8rem;
  font-weight: 500;
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid #B692C2;
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: #B692C2;
}
.social-icons a:hover {
  color: black;
  transform: scale(1.3) translateY(0.5px);
  background-color: #B692C2;
  box-shadow: 0 0 25px #B692C2;
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: black;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: #B692C2;
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: 2px solid #B692C2;
  transition: 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  transform: scale3d(1.03);
  transform: scale(1.3) translateY(0.5px);
  background-color: #B692C2;
  color: black;
  box-shadow: 0 0 25px #B692C2;
}
.typing-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}
.typing-text span {
  position: relative;
}
.typing-text span::before {
  content: "software developer";
  color: #B692C2;
  animation: words 20s infinite;
}
.typing-text span::after {
  content: "";
  background-color: var(#161616);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(#161616);
  right: -8;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
    to{
      border-left: 3px solid var(#B692C2);
    }
}
@keyframes words {
  0%,
  20% {
    content: "Web Developer";
  }
  21%,
  40% {
    content: "Developer";
  }
  41%,
  60% {
    content: "Web Designer";
  }
  61%,
  80% {
    content: "Student";
  }
  81%,
  100% {
    content: "Gamer";
  }
}
@keyframes typing {
  10%,15%,
  30%,35%,
  50%,55%,
  70%,75%,
  90%,95% {
    width: 0;
  }
  5%,20%,
  25%,40%,
  45%,60%,
  65%,80%,
  85%,100% {
    width: calc(100% + 8px);
  }
}
@media (max-width: 1000px) {
  .home {
    gap: 4rem;
  }
}
@media (max-width: 995px) {
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .home-content h3 {
        font-size: 2.5rem;
    }
    .home-content h1 {
      font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}
